services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: medusa_admin
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: medusa_store
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    environment:
      REDIS_PASSWORD: supersecretpassword
    command: ["redis-server", "--requirepass", "$$REDIS_PASSWORD", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./openmocha
      dockerfile: Dockerfile
    container_name: medusa-backend
    environment:
      DATABASE_URL: postgres://medusa_admin:supersecretpassword@postgres:5432/medusa_store
      REDIS_URL: redis://:supersecretpassword@redis:6379
      JWT_SECRET: some_jwt_secret
      COOKIE_SECRET: some_cookie_secret
      NODE_ENV: development
    ports:
      - "9000:9000"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app:cached

  admin:
    build:
      context: ./openmocha
      dockerfile: Dockerfile.admin
    container_name: medusa-admin
    ports:
      - "7001:80"
    depends_on:
      - backend

  storefront:
    build:
      context: ./openmocha-storefront
      dockerfile: Dockerfile.prod
    container_name: medusa-storefront
    ports:
      - "8000:8000"
    depends_on:
      - backend

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

